/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/typography';
@import './base/resets';
@import './base/dev-tools';



@import './sass-utils/helpers';
@import './sass-utils/mixins';
@import './sass-utils/variables';
@import './sass-utils/animation';


@import './components/button';

@import './layout/container';
@import './layout/body';
@import './layout/header';
@import './layout/main';
@import './layout/footer';

@import './example';