<section class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper-mobile--section1">
                <p class="footer__text">© 2020 | All Rights Reserved |&nbsp;</p>
            </div>
            <div class="footer__wrapper-mobile--section2">
                <p class="footer__text">Developed with</p>
                <svg class="footer__svg">
                    <use use href="./images/icons/heart.svg#heart"></use>
                </svg>
                <p class="footer__text">by&nbsp;</p>
                <a class="footer__link-team">GoIT Students</a>
            </div>
        </div>
    </div>
</section>